#header{
	width: 100%;
	height: 100px;
	background: #696969;

	display: flex;
	justify-content: center;
	align-items: center;
}
#main{
	display: flex;
}
#foto{
	width: 25%;
	height: 500px;
}
#content{
	width: 75%;
	height: 520px;
	background: #DCDCDC;

	display: flex;
	justify-content: left;
	align-items: center;
}