#div1 {
	border: solid 1px;
	background-color: lightgrey;
	width: 25%;
	float: left;
	height: 480px;
}
#div2 {
	border: solid 1px;
	background-color: white;
	width: 74.6%;
	float: right;
	height: 480px;
}